# thermal model parameters

	# chip specs
		# chip thickness in meters
		-t_chip				0.00015
		# silicon thermal conductivity in W/(m-K)
		-k_chip				100.0
		# silicon specific heat in J/(m^3-K)
		-p_chip				1.75e6
		# temperature threshold for DTM (kelvin)
		-thermal_threshold	454.95

	# heat sink specs
		# convection capacitance in J/K
		-c_convec			140.4
		# convection resistance in K/W
		-r_convec			0.17
		# heatsink side in meters
		-s_sink				0.21
		# heatsink thickness  in meters
		-t_sink				0.0069
		# heatsink thermal conductivity in W/(m-K)
		-k_sink				400.0
		# heatsink specific heat in J/(m^3-K)
		-p_sink				3.55e6

	# heat spreader specs
		# spreader side in meters
		-s_spreader			0.18
		# spreader thickness in meters
		-t_spreader			0.02
		# heat spreader thermal conductivity in W/(m-K)
		-k_spreader				400.0
		# heat spreader specific heat in J/(m^3-K)
		-p_spreader				3.55e6

	# interface material specs
		# interface material thickness in meters
		-t_interface		2.0e-05
		# interface material thermal conductivity in W/(m-K)
		-k_interface				4.0
		# interface material specific heat in J/(m^3-K)
		-p_interface				4.0e6
		
	# secondary path (C4/underfill, package substrate, solder balls etc)
	# ONLY AVAILABLE IN THE GRID MODEL
		# model secondary path or not?
		-model_secondary	0
		# convection resistance at the air/PCB interface in K/W
		-r_convec_sec	50.0
		# convection capacitance at the air/PCB interface in J/K
		-c_convec_sec	40.0
		#	number of on-chip metal layers
		-n_metal	8
		#	one metal layer thickness in meters
		-t_metal	100.0e-6 
		#	C4/underfill thickness in meters
		-t_c4	0.0001
		#	side size of EACH C4 pad
		-s_c4	20.0e-6
		# number of C4 pads
		-n_c4	400 
		# package substrate side in meters
		-s_sub	0.021
		# package substrate thickness in meters
		-t_sub	0.001
		#	solder ball side in meters
		-s_solder	0.021
		#	solder ball thickness in meters
		-t_solder	0.00094
		# PCB side in meters
		-s_pcb	0.1
		# PCB thickness in meters
		-t_pcb	0.002	

	# others
		# ambient temperature in kelvin
		-ambient			308.15
		# initial temperatures from file
		-init_file			(null)
		# initial temperature (kelvin) if not from file
		-init_temp			308.15
		# steady state temperatures to file
		-steady_file		(null)
		# hotspot calling interval - 10K cycles at 3GHz
		-sampling_intvl		0.001 #3.333e-06
		# base processor frequency in Hz
		-base_proc_freq		3e+09
		# is DTM employed?
		-dtm_used			0
		# model type - block or grid
		-model_type			block
		
		# consider temperature-leakage loop within HotSpot?
		-leakage_used 0
		
		# leakage calculation modes: (only valid when -leakage_used=1)
		# 0 user-defined leakage power model, do temp-leakage loop within HotSpot
		#	1 use HotLeakage -- !NOT implemented in this release!, coming later.
		-leakage_mode	0
		
		# use detailed package model?
		-package_model_used			0
		-package_config_file			package.config

	# block model specific parameters
		# omit lateral chip resistances?
		-block_omit_lateral	0

	# grid model specific parameters
		# grid resolution - no. of rows
		-grid_rows			64
		# grid resolution - no. of cols
		-grid_cols			64
		# layer configuration from file
		-grid_layer_file	(null)
		# dump internal grid steady state temperatures
		-grid_steady_file	amd.grid.steady
		# grid to block mapping mode - (avg|min|max|center)
		# i.e., a block's temperature is the avg, min or max 
		# of all the grid cells in it or equal to that of
		# the grid cell in its center
		-grid_map_mode		center

# floorplanner parameters

	# L2 modeling
		# wrap around L2?
		-wrap_l2			0
		# name of the L2 unit to look for
		-l2_label			L2
	
	# rim modeling
		# model dead space around the rim of the chip?
		-model_rim			0
		# thickness of the rim in meters
		-rim_thickness		5e-05
	
	# others
		# area ratio below which to ignore dead space
		-compact_ratio		0.005
		# no. of discrete orientations for a shape curve (even no. > 1)
		-n_orients			300
	
	# annealing parameters
		# initial acceptance probability
		-P0					0.99
		# average change (delta) in cost
		-Davg				1
		# no. of moves to try in each step
		-Kmoves				4
		# ratio for the cooling schedule
		#-Rcool				0.93
		-Rcool				0.85
		# ratio of rejects at which to stop annealing
		-Rreject			0.99
		# absolute max no. of annealing steps
		-Nmax				100

	# weights for the metric: lambdaA * A + lambdaT * T + lambdaW * W
		# weight for the area term
		-lambdaA			5.0e+06
		# weight for the temperature term
		-lambdaT			1
		# weight for the wire length term
		-lambdaW			350
