#	NOTE:
#	CAUTION!! The model is valid only with reasonable heatsink/fan parameters!
# CAUTION!! This thermal package model is based on empirical convection heat transfer
#						theories in textbooks. Detailed FEM and/or actual measurements might be needed
#						to ensure the accuracy of those empirical formulas.  
#
# In most cases, the package model should be turned off and the default lumped 
#	convection thermal resistance r_convec should serve well for most purposes.
#	However, this feature of modeling thermal packaging details might be useful when:
#		1) detailed heatsink and fan information is known, or,
#		2) you are using HotSpot for thermal package design, or,
#		3) detailed investigation of the impact of thermal package configs on silcion temperature is desired

# package model parameters
	# heat sink specs
		# natural convection? 0: forced convection, 1: natural convection
		-natural_convec	0
		# if not natural convection, then
		#	flow type: 0) lateral airflow from sink side. 1) impinging airflow from sink top
		-flow_type				0
		#	heatsink type: 0) fin-channel sink, 1) pin-fin sink
		-sink_type				0
		
		#	(sink base size is defined in hotspot.config)
		#	all in meters
		#	1) fin-channel sink
		-fin_height				0.03	# most CPU fin heights are only a couple of centimeters
		-fin_width				0.001	# uasually a few millimeters
		-channel_width				0.002	# usually a few millimeters
		#	2) pin-fin sink 
		-pin_height				0.02	# similar value to fin height
		-pin_diam				0.002	# similar to greater than fin width
		-pin_dist				0.005	# similar to or greater than channel width
		
	#	fan specs, in meters 
		-fan_radius				0.03	# usually about half of heat sink size
		-motor_radius				0.01 # less than the fan radius, usually not a very small value
		-rpm				1000 #	usually a few thousands
